<section class="mt-32">
  <div
    class="relative overflow-hidden bg-no-repeat bg-cover"
    style="
          background-position: 50%;
          background-image: url('/scarborough-eavestrough-cleaning.webp');
          height: 500px;
        "
  >
    <div
      class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.75)"
    >
      <div class="flex items-center justify-center h-full">
        <div class="px-6 text-center text-white md:px-12">
          <h3 class="pb-4 text-xl text-accent">
            Quality Service • Value for your money • Affordable Price
          </h3>
          <h1
            class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl"
          >
            Window Cleaning <br /><span>Etobicoke</span>
          </h1>
 <a
                role="button"
                href="contact"
                class="mb-2 btn btn-wide btn-outline btn-accent">Get Started</a
            >

        </div>
      </div>
    </div>
  </div>
</section>
