---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroAbout from "../components/about/HeroAbout.astro";
import FourPage from "../components/FourPage.astro";
---

<Layout
    title="404| The Professionals Window Cleaning & Eavestrough Ltd."
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service? Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroAbout />
        <CallNow />
        <FourPage />
        <ContactUs />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
