---
import Layout from "../layouts/Layout.astro";
import HeroAbout from "../components/about/HeroAbout.astro";
import AboutContent from "../components/about/AboutContent.astro";
import Testimonals from "../components/Testimonals.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
    title="About | The Professionals Window Cleaning & Eavestrough Ltd."
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Scarborough? Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroAbout />
        <AboutContent />
        <Testimonals />
        <ContactUs />
        <DiscountSection />
    </main>
</Layout>
