---
import Layout from "../layouts/Layout.astro";
import HeroBramptonW from "../components/brampton/HeroBramptonW.astro";
import ParaBramptonW from "../components/brampton/ParaBramptonW.astro";
import Testimonals from "../components/Testimonals.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
  title="Window Cleaning Brampton"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Brampton? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroBramptonW />
    <ParaBramptonW />
    <Testimonals />
    <ContactUs />
    <DiscountSection />
  </main>
</Layout>
