---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import HeroBramptonW from "../components/brampton/HeroBramptonW.astro";
import ContactUs from "../components/ContactUs.astro";
import ParaBramptonW from "../components/brampton/ParaBramptonW.astro";
---

<Layout
    title="Brampton Window Cleaning"
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Brampton? Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroBramptonW />
        <CallNow />
        <ContactUs />
        <ParaBramptonW />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
