---
import Layout from '../layouts/Layout.astro'
import HeroContact from '../components/contact/HeroContact.astro'
import ContactContent from '../components/contact/ContactContent.astro'
import DiscountSection from '../components/home/DiscountSection.astro'
---

<Layout
	title="Contact | The Professionals Window Cleaning & Eavestrough Ltd."
	description="Contact The Professionals Window & Eaves Cleaning Ltd! Expert window and eaves cleaning services for your home or business, Schedule Now at 416-464-5542"
>
	<main>
		<HeroContact />
		<ContactContent />
		<DiscountSection />
	</main>
</Layout>
