---
import Layout from "../layouts/Layout.astro";
import HeroScarboroughE from "../components/scarborough/HeroScarboroughE.astro";
import ParaOne from "../components/scarborough/ParaOne.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
---

<Layout
  title="Eavestrough Cleaning Scarborough"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Scarborough? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroScarboroughE />
    <CallNow />
    <ContactUs />
    <ParaOne />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
