---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroRepairs from "../components/services/HeroRepairs.astro";
---

<Layout
    title="Eavestrough & Gutter Repairs | The Professionals"
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Brampton? Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroRepairs />
        <CallNow />
        <ContactUs />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
