---
import Layout from "../layouts/Layout.astro";
import HeroPickeringE from "../components/pickering/HeroPickeringE.astro";
import ParaOnePickering from "../components/pickering/ParaOnePickering.astro";
import Testimonals from "../components/Testimonals.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
  title="Eavestrough Cleaning Pickering"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Pickering? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroPickeringE />
    <ParaOnePickering />
    <Testimonals />
    <ContactUs />
    <DiscountSection />
  </main>
</Layout>
