---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroAjaxE from "../components/ajax/HeroAjaxE.astro";
import ParaOne from "../components/ajax/ParaOne.astro";
---

<Layout
  title="Eavestrough Cleaning Ajax"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Ajax? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroAjaxE />
    <CallNow />
    <ContactUs />
    <ParaOne />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
