---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroEaves from "../components/services/HeroEaves.astro";
import ParaEaves from "../components/services/ParaEaves.astro";
---

<Layout
    title="Eavestrough Cleaning | The Professionals"
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in your area? Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroEaves />
        <CallNow />
        <ContactUs />
        <ParaEaves />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
