---
import Layout from "../layouts/Layout.astro";
import HeroNorthYorkW from "../components/north-york/HeroNorthYorkW.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import ParaNorthYorkW from "../components/north-york/ParaNorthYorkW.astro";
---

---

<Layout
  title="North York Window Cleaning"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in North York? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroNorthYorkW />
    <CallNow />
    <ContactUs />
    <ParaNorthYorkW />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
