---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroPower from "../components/services/HeroPower.astro";
import ParaPowerWashing from "../components/services/ParaPowerWashing.astro";
---

<Layout
    title="Power Washing Services Toronto"
    description="Looking for a Power Washing Services Toronto or Eavestrough Cleaning Service in your area? Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroPower />
        <CallNow />
        <ContactUs />
        <ParaPowerWashing />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
