---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroProjects from "../components/projects/HeroProjects.astro";
---

<Layout
    title="Our Projects | The Professionals Window Cleaning & Eavestrough Ltd."
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service? Look no Further! Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroProjects />
        <CallNow />
        <ContactUs />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
