---
import Layout from "../layouts/Layout.astro";
import HeroProjects from "../components/projects/HeroProjects.astro";
import BeforeAfterGallery from "../components/projects/BeforeAfterGallery.astro";
import PhotoGrid from "../components/projects/PhotoGrid.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
    title="Our Projects | The Professionals Window Cleaning & Eavestrough Ltd."
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service? Look no Further! Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroProjects />
        <BeforeAfterGallery />
        <PhotoGrid />
        <ContactUs />
        <DiscountSection />
    </main>
</Layout>
