---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroScarboroughW from "../components/scarborough/HeroScarboroughW.astro";
import ParaScarboroughW from "../components/scarborough/ParaScarboroughW.astro";
---

---

<Layout
  title="Scarborough Window Cleaning"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Scarborough? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroScarboroughW />
    <CallNow />
    <ContactUs />
    <ParaScarboroughW />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
