---
import Layout from "../layouts/Layout.astro";
import HeroServices from "../components/services/HeroServices.astro";
import ServicesOverview from "../components/services/ServicesOverview.astro";
import Testimonals from "../components/Testimonals.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
    title="Our Services | The Professionals Window Cleaning"
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service? Look no Further! Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroServices />
        <ServicesOverview />
        <Testimonals />
        <ContactUs />
        <DiscountSection />
    </main>
</Layout>
