---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroServices from "../components/services/HeroServices.astro";
---

<Layout
    title="Our Services | The Professionals Window Cleaning"
    description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service? Look no Further! Call us The Professionals at 416-464-5542."
>
    <main>
        <HeroServices />
        <CallNow />
        <ContactUs />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
