---
import Layout from "../layouts/Layout.astro";
import HeroEtobicokeW from "../components/etobicoke/HeroEtobicokeW.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import ParaEtobicokeW from "../components/etobicoke/ParaEtobicokeW.astro";
---

<Layout
  title="Window Cleaning Etobicoke"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Etobicoke? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroEtobicokeW />
    <CallNow />
    <ContactUs />
    <ParaEtobicokeW />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
