---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import HeroThornhillW from "../components/thornhill/HeroThornhillW.astro";
import ContactUs from "../components/ContactUs.astro";
import ParaThornhillW from "../components/thornhill/ParaThornhillW.astro";
---

---

<Layout
  title="Window Cleaning Thornhill"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in North Thornhill? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroThornhillW />
    <CallNow />
    <ContactUs />
    <ParaThornhillW />
    <FaqSection />
    <DiscountSection />
  </main>
</Layout>
