---
import Layout from "../layouts/Layout.astro";
import HeroMarkhamW from "../components/markham/HeroMarkhamW.astro";
import ParaOneMarkhamW from "../components/markham/ParaOneMarkhamW.astro";
import Testimonals from "../components/Testimonals.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
  title="Window Cleaning Markham"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Markham? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroMarkhamW />
    <ParaOneMarkhamW />
    <Testimonals />
    <ContactUs />
    <DiscountSection />
  </main>
</Layout>
