---
import Layout from "../layouts/Layout.astro";
import HeroVaughanW from "../components/vaughan/HeroVaughanW.astro";
import ParaVaughanW from "../components/vaughan/ParaVaughanW.astro";
import Testimonals from "../components/Testimonals.astro";
import ContactUs from "../components/ContactUs.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
---

<Layout
  title="Window Cleaning Vaughan"
  description="Looking for a Professional Window Cleaning or Eavestrough Cleaning Service in Vaughan? Call us The Professionals at 416-464-5542."
>
  <main>
    <HeroVaughanW />
    <ParaVaughanW />
    <Testimonals />
    <ContactUs />
    <DiscountSection />
  </main>
</Layout>
