---
import Layout from "../layouts/Layout.astro";
import FaqSection from "../components/home/FaqSection.astro";
import DiscountSection from "../components/home/DiscountSection.astro";
import CallNow from "../components/CallNow.astro";
import ContactUs from "../components/ContactUs.astro";
import HeroWindows from "../components/services/HeroWindows.astro";
import ParaWindows from "../components/services/ParaWindows.astro";
---

<Layout
    title="Window Cleaning | The Professionals Window Cleaning"
    description="Professional Window Cleaning or Eavestrough Cleaning Service - Call us The Professionals at 416-464-5542 - 20% Off for New Customers"
>
    <main>
        <HeroWindows />
        <CallNow />
        <ContactUs />
        <ParaWindows />
        <FaqSection />
        <DiscountSection />
    </main>
</Layout>
