<section>
  <div
    class="relative overflow-hidden bg-no-repeat bg-cover"
    style="
          background-position: 100%;
          background-image: url('/20p.png');
          height: 600px;
         
        "
  >
    <div
      class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overflow-hidden bg-fixed"
      style="background-color: rgba(0, 0, 0, 0.30)"
    >
      <div class="flex items-center justify-center h-full">
        <div class="px-6 text-center text-accent md:px-12">
          <h3 class="pb-4 text-xl hidden md:text-black uppercase">
            Receive a discount when mention
          </h3>
          <p
            class="mb-12 text-5xl font-bold tracking-tight text-white md:text-6xl xl:text-7xl"
          >
            Promo code: <br /><span class="pt-2 text-accent">"SUMMER2024"</span>
          </p>

          <a
            role="button"
            href="tel:416-464-5542"
            class="mb-2 btn btn-wide btn-outline btn-secondary">Call us</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
