<section class="bg-gradient-to-b from-secondary to-primary">
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-16 lg:px-6">
    <h2 class="mb-8 text-4xl font-extrabold tracking-tight text-accent">
      Frequently asked questions
    </h2>
    <div
      class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2"
    >
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            How often should I have my windows cleaned?
          </h3>
          <p class="text-white">
            The frequency of window cleaning depends on several factors such as
            location, weather, and the type of windows you have. However, a
            general rule of thumb is to have your windows cleaned every three to
            six months.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            What is the best method for cleaning windows?
          </h3>
          <p class="text-white">
            There are several methods for cleaning windows, including
            traditional squeegee, microfiber cloths, and pressure washing. The
            best method depends on the type of windows you have, the amount of
            dirt and grime, and your personal preference.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Are window cleaning services eco-friendly?
          </h3>
          <p class="text-white">
            Many window cleaning companies use environmentally friendly cleaning
            solutions to reduce their impact on the environment. You can also
            request for eco-friendly options when booking a window cleaning
            service.
          </p>
          <p class="text-white">
            Feel free to <a
              href="contact"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
              target="_blank"
              rel="noreferrer">contact us</a
            > and we'll help you out as soon as we can.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Why is it important to clean my eavestroughs regularly?
          </h3>
          <p class="text-white">
            Cleaning your eavestrough regularly is important to prevent clogs
            and blockages that can cause water damage to your home, roof, and
            foundation.
          </p>
          <p class="text-white">
            Find out more information by <a
              href="#!"
              class="font-medium underline text-primary-600 dark:text-primary-500 hover:no-underline"
              >reading our blog.</a
            >.
          </p>
        </div>
      </div>
      <div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            How often should I have my eavestroughs cleaned?
          </h3>
          <p class="text-white">
            The frequency of eavestrough cleaning depends on factors such as the
            amount of trees surrounding your home and the amount of debris that
            accumulates in your eavestrough. However, it is generally
            recommended to have your eavestrough cleaned at least once a year.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Can I clean my own eavestrough or should I hire a professional?
          </h3>
          <p class="text-white">
            Cleaning your own eavestrough can be dangerous, especially if you
            have to climb a ladder. Hiring a professional gutter cleaning
            service is recommended to ensure the safety and efficiency of the
            cleaning process.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Can I clean my own eavestrough or should I hire a professional?
          </h3>
          <p class="text-white">
            Cleaning your own eavestrough can be dangerous, especially if you
            have to climb a ladder. Hiring a professional gutter cleaning
            service is recommended to ensure the safety and efficiency of the
            cleaning process.
          </p>
        </div>
        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Can I clean my own eavestrough or should I hire a professional?
          </h3>
          <p class="text-white">
            Cleaning your own eavestrough can be dangerous, especially if you
            have to climb a ladder. Hiring a professional gutter cleaning
            service is recommended to ensure the safety and efficiency of the
            cleaning process.
          </p>
        </div>

        <div class="mb-10">
          <h3 class="flex items-center mb-4 text-lg font-medium text-accent">
            <svg
              class="flex-shrink-0 w-5 h-5 mr-2 text-accent"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"></path></svg
            >
            Can gutter cleaning prevent leaks?
          </h3>
          <p class="text-white">
            Yes, regular gutter cleaning can help to prevent leaks by removing
            debris and clogs that can cause blockages and damage to the gutter
            system. This can also help to prolong the lifespan of your
            eavestrough and prevent costly repairs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
