<section class="bg-accent mb-6">
    <div
        class="container flex flex-col items-center px-4 py-12 mx-auto text-center"
    >
        <h2
            class="text-4xl py-3 font-bold tracking-tight text-gray-800 xl:text-3xl"
        >
            The Professionals Window and Eaves Cleaning Ltd.
        </h2>
        <h2 class="text-2xl font-bold tracking-tight text-gray-800 xl:text-3xl">
            Are you looking to schedule today?
        </h2>

        <p class="block max-w-4xl mt-4 text-black">
            Did our Google reviews bring you here? Schedule your appointment
            today or read more about our services.
        </p>

        <div class="mt-6">
            <a
                role="button"
                href="tel:416-464-5542"
                class="mb-2 btn btn-wide btn-outline btn-secondary">Call us</a
            >
            <a
                role="button"
                href="mailto:admin@theprofessionalswindowcleaning.com"
                class="mb-2 btn btn-wide btn-outline btn-secondary">Email Us</a
            >
        </div>
    </div>
</section>
