<div class="p-4">
    <h2 class="text-4xl font-extrabold">Cookie Policy:</h2>
    <p class="my-4 text-lg text-white">
        The Professionals Window and Eaves Cleaning Ltd. uses cookies on our
        website to improve your browsing experience and personalize content.<br
        />

        <h3>What are cookies?</h3>
        <p>
            Cookies are small data files that are placed on your device when you
            visit our website. They help us understand how you interact with our
            website and allow us to improve your experience.
        </p>

        <h3>Types of cookies we use:</h3>
        <p>
            We use functional cookies that are necessary for the operation of
            our website, performance cookies that help us improve the
            performance of our website, and third-party cookies that allow us to
            personalize content and advertising.

            <h3>How we protect your information:</h3>
            <p>
                We use secure servers and encrypt data transmission to protect
                your information.We take appropriate measures to protect your
                personal information from unauthorized access, alteration,
                disclosure, or destruction. We use secure servers and encrypt
                data transmission to protect your information.
            </p>
        </p>
        <h3>Managing cookies:</h3>
        <p>
            You can manage your cookie preferences by changing your browser
            settings. Please note that disabling cookies may affect your
            browsing experience on our website.
        </p>

        <h3>Changes to this policy:</h3>
        <p>
            We may update this cookie policy from time to time. Any changes will
            be posted on our website.
        </p>
    </p>
</div>
