<div class="p-4">
    <h2 class="text-4xl font-extrabold">404</h2>
    <p class="my-4 text-lg text-white">
        We're sorry, but the page you are looking for cannot be found. It may
        have been moved, deleted, or never existed in the first place.<br />

        <h3>Here are some things you can try:</h3>
        <p>
            <ul>
                <li>Double-check the URL for typos and spelling errors.</li>
                <li>
                    Use the search bar at the top of the page to look for the
                    information you need.
                </li>
                <li>
                    Visit our homepage to explore our services and learn more
                    about us.
                </li>
                <li>
                    Contact us if you need assistance or have any questions.
                </li>
            </ul>

            <h3>
                We apologize for any inconvenience this may have caused. Thank
                you for choosing The Professionals Window and Eaves Cleaning
                Ltd.
            </h3>
        </p>
    </p>
</div>
