---
// 1. Import the Image component and your image file
import { Image } from 'astro:assets'
import heroImage from '../assets/toronto-window-cleaning-bg.webp'
---

<section class="mt-32">
	<div
		class="relative h-[500px] overflow-hidden bg-cover bg-no-repeat"
		style="background-position: 50% center;"
	>
		<Image
			src={heroImage}
			alt="Toronto window cleaning background"
			class="absolute inset-0 h-full w-full object-cover"
			quality={80}
			fetchpriority="high"
		/>

		<div
			class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
			style="background-color: rgba(0, 0, 0, 0.75)"
		>
			<div class="flex h-full items-center justify-center">
				<div class="px-6 text-center text-white md:px-12">
					<h3 class="pb-4 text-xl text-accent">
						Quality Service • Value for your money • Affordable Price
					</h3>
					<h1 class="mb-12 text-5xl font-bold tracking-tight md:text-6xl xl:text-7xl">
						Rejuvenate the look of <br /><span>your home today</span>
					</h1>
					<a role="button" href="contact" class="btn btn-accent btn-outline btn-lg">Get Started</a>
				</div>
			</div>
		</div>
	</div>
</section>
