<div class="p-4">
    <h2 class="text-4xl font-extrabold">Privacy Policy:</h2>
    <p class="my-4 text-lg text-white">
        At The Professionals Window and Eaves Cleaning Ltd., we understand the
        importance of protecting your privacy. This privacy policy explains how
        we collect, use, and protect your personal information.<br />

        <h3>Information we collect:</h3>
        <p>
            We collect personal information such as your name, address, phone
            number, email address, and payment information when you place an
            order or request a service. We may also collect information about
            your device, location, and browsing activity on our website.
        </p>

        <h3>How we use your information:</h3>
        <p>
            We use your personal information to fulfill your orders and provide
            our services to you. We may also use your information to communicate
            with you about your orders, send you promotional offers, and improve
            our website and services.

            <h3>How we protect your information:</h3>
            <p>
                We use secure servers and encrypt data transmission to protect
                your information.We take appropriate measures to protect your
                personal information from unauthorized access, alteration,
                disclosure, or destruction. We use secure servers and encrypt
                data transmission to protect your information.
            </p>
        </p>
        <h3>Sharing your information:</h3>
        <p>
            We do not sell, trade, or rent your personal information to third
            parties. We may share your information with our service providers
            who assist us in delivering our services.
        </p>

        <h3>Changes to this policy:</h3>
        <p>
            We may update this privacy policy from time to time. Any changes
            will be posted on our website.
        </p>
    </p>
</div>
