<div class="p-4">
    <h2 class="text-4xl font-extrabold">Terms of Service:</h2>
    <p class="my-4 text-lg text-white">
        The following terms and conditions govern your use of The Professionals
        Window and Eaves Cleaning Ltd. website and services.<br />

        <h3>Services:</h3>
        <p>
            We provide window and eaves cleaning services to our customers. Our
            services are subject to availability and we reserve the right to
            refuse service to anyone.
        </p>

        <h3>Pricing:</h3>
        <p>
            Our pricing is based on the size of your home, the number of
            windows, and the level of difficulty of the job. We provide a free
            estimate before starting any work. Prices are subject to change
            without notice.

            <h3>Payment:</h3>
            <p>
                We accept payment by cash, cheque, or credit card. Payment is
                due upon completion of the work. A 3% processing fee applies to
                credit card payments.
            </p>
        </p>
        <h3>Cancellation:</h3>
        <p>
            We require a 24-hour notice for cancellation of any scheduled
            service. If you cancel less than 24 hours before the scheduled
            appointment, a cancellation fee may apply.
        </p>

        <h3>Liability:</h3>
        <p>
            We are not liable for any damages, including but not limited to,
            personal injury, property damage, or loss of income resulting from
            our services.
        </p>
    </p>
</div>
