---
// component import
import MainHead from '../components/MainHead.astro'
import Footer from '../components/Footer.astro'
import NavBar from '../components/Nav.astro'
import '@fontsource/nunito'
import '@fortawesome/fontawesome-free/css/all.min.css';

const {
	title = 'The Professionals Window and Eaves Cleaning Ltd.',
	description = 'Reliable and affordable window cleaning services. We offer a wide range of services, including regular window cleaning and spring/fall eavestrough cleaning.',
	image,
	robots
} = Astro.props
---

<html data-theme="mytheme" lang="en">
	<MainHead {title} {description} {image} {robots} />
	<body class="flex min-h-screen flex-col bg-primary font-sans"
		><NavBar />
		<main>
			<slot> Default Text</slot>
		</main>
		<Footer />
	</body>
</html>
